<!DOCTYPE html>
{{ $availableLanguages := .availableLanguages}}
{{ $isOutput := eq .isOutput true }}
{{ $code := .code }}
{{ $selectedLanguage := .selectedLanguage }}
{{ $tokens := .tokens }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Syntax Highlighter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
    {{if $isOutput}}
        <script>
            window.TOKENS = {{ $tokens }}
            window.CODE = {{ $code }}
        </script>
    {{end}}
</head>
<body class="bg-slate-100 p-5 flex flex-col">
<header class="flex flex-col text-center items-center pt-10">
    <h1 class="text-3xl font-bold">Syntax <span class="text-transparent bg-clip-text bg-gradient-to-tr from-emerald-600 to-sky-600">Highlighter</span></h1>
    <p class="mt-2 text-slate-700 font-medium">
        Developed by <a href="https://theshawa-dev.web.app" target="_blank" title="Visit Theshawa Dasun" class="text-blue-600 hover:underline">Theshawa Dasun</a>.
    </p>
    <a href="https://github.com/theshawa/syntax-highlighter" target="_blank" class="px-4 py-2 rounded-full bg-slate-200 text-slate-900 mt-5 font-semibold text-sm hover:bg-slate-300 active:scale-95">
        View Code on Github
    </a>
</header>
<main class="flex flex-col max-w-screen-sm mx-auto w-full mt-16">
    {{if $isOutput}}
        <form action="/" class="flex flex-col">
            <h2 class="text-center font-medium mb-3">Highlighted <q>{{$selectedLanguage.Name}}</q> Code</h2>
            <pre id="output" class="code w-full border p-5 rounded-lg bg-slate-950 text-slate-300 h-max overflow-auto"></pre>
            <h2 class="text-center font-medium mt-5 mb-3">Given <q>{{$selectedLanguage.Name}}</q> Code</h2>
            <pre id="preview" class="code bg-white max-h-[100vh] overflow-auto rounded-lg border w-full p-5 overflow-auto"></pre>
            <button class="w-full sm:w-max mx-auto px-4 py-2 rounded-lg bg-slate-200 text-slate-950 font-medium mt-5" type="submit">Clear</button>
        </form>
    {{else}}
        <form action="/output" method="post" class="flex flex-col">
            <textarea required name="code" class="code bg-white h-64 rounded-lg border w-full p-5 outline-none placeholder:text-slate-400" placeholder="Paste your code here..."></textarea>
            <select required name="language" class="px-4 py-2 rounded-full border outline-none font-medium w-full sm:w-max max-w-full mx-auto text-sm mt-5 text-center">
                <option selected>Select Language</option>
                {{range $availableLanguages}}
                <option value="{{.Value}}">{{.Name}}</option>
                {{end}}
            </select>
            <button class="w-full sm:w-max mx-auto px-4 py-2 rounded-lg bg-blue-600 text-white font-medium mt-5" type="submit">Highlight</button>
        </form>
    {{end}}
</main>
<footer class="mt-20 pb-5 text-xs text-center text-slate-400">
    Developed by Theshawa Dasun @ 2024
</footer>
<script src="/public/render.js"></script>
</body>
</html>